@use "../../styles/fonts.scss" as *;

.wrapperMain {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    label {
        @include inconsolata-bold-md;

        width: 100%;
        height: auto;
    }

    .field {
        @include inconsolata-regular-md;

        width: 100%;
        height: 42px;

        display: flex;

        border: 0.5px solid var(--scale-white-color-4);
        border-radius: 0.313rem;
        background-color: var(--scale-white-color-5);

        box-shadow: inset 0px 1px 3px #00000029;
    }

    .errorMessage {
        @include inconsolata-regular-sm;
        
        color: red;
    }
}