@use "../../styles/fonts.scss" as *;

.wrapperMain {
    padding: 2rem;
    width: 100%;
    height: max-content;
    box-sizing: border-box;

    background-color: var(--scale-white-color-0);

    transition: padding 0.75s ease-in-out;

    h1 {
        @include inconsolata-regular-2xl;

        width: 100%;

        text-align: center;
        color: var(--scale-white-color-5);

        transition: 0.75s ease-in-out;
    }
}

@media screen and (max-width: 920px) {
    .wrapperMain {
        padding: 1.5rem;
        
        h1 {
            @include inconsolata-regular-xl;
        }
    }
}