@use "../../styles/fonts.scss" as *;

.wrapperMain {
    width: 100%;
    height: auto;

    button {
        @include inconsolata-bold-lg;
        padding: 0.25rem 0.5rem;
        width: 100%;
        box-sizing: border-box;

        display: flex;
        align-items: center;

        border: 1px solid var(--scale-white-color-0);
        border-radius: 10px;
        background-color: var(--scale-white-color-0);

        transition: 0.325s ease-in-out, color 0s ease-in-out;
        box-shadow: none;

        span {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            text-align: center;

            color: var(--scale-white-color-5);
        }

        &:hover {
            border-color: var(--scale-white-color-0);
            background-color: var(--scale-white-color-5);

            span {
                color: var(--scale-white-color-0);
            }

            transform: scale(1.05);
        }

        &:disabled {
            border-color: var(--scale-white-color-4);
            background-color: var(--scale-white-color-4);

            color: var(--scale-white-color-3);

            transform: none;
        }

        &.reverseStyle {            
            border-color: var(--scale-white-color-0);
            background-color: var(--scale-white-color-5);

            span {
                color: var(--scale-white-color-0);
            }

            &:hover {
                border-color: var(--scale-white-color-0);
                background-color: var(--scale-white-color-0);

                span {
                    color: var(--scale-white-color-5);
                }

                transform: scale(1.05);
            }
        }
    }
}