@use "../../styles/fonts.scss" as *;

.wrapperMain {
    width: 100%;
    height: auto;

    button {
        @include inconsolata-bold-md;

        padding: 1rem;
        width: 100%;
        height: 48px;
        box-sizing: border-box;

        display: flex;
        align-items: center;
        gap: 0.5rem;

        border: 1px solid var(--scale-white-color-0);
        border-radius: 10px;
        background-color: var(--scale-white-color-0);

        color: var(--scale-white-color-5);

        transition: 0.325s ease-in-out, color 0s ease-in-out;
        box-shadow: none;

        &:hover {
            border-color: var(--scale-white-color-0);
            background-color: var(--scale-white-color-5);

            color: var(--scale-white-color-0);

            transform: scale(1.0125);
        }

        &:disabled {
            border-color: var(--scale-white-color-4);
            background-color: var(--scale-white-color-4);

            color: var(--scale-white-color-3);
        }

        &.reverseStyle {
            border-color: var(--scale-white-color-0);
            background-color: var(--scale-white-color-5);

            color: var(--scale-white-color-0);

            &:hover {
                border-color: var(--scale-white-color-0);
                background-color: var(--scale-white-color-0);

                color: var(--scale-white-color-5);

                transform: scale(1.0125) !important;
            }
        }
    }
}